body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F9F5F2;
}


header {
    width: 100%;
    height: 107px;
    background-color: #271168;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
}

header .logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 80px; 
}

header nav {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 100px);  
}

header nav a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-size: 24px;
}


.container {
    display: flex;       
    flex-direction: column; 
    align-items: center; 
    width: 100%;        
    margin: 20px auto;   
    text-align: center;  
}

h1 {
    color: #271168;
}

a {
    text-decoration: none;
    color: inherit; 
}

.project {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #F9F5F2;
    border-radius: 30px;
    border: 4px solid #271168;
    padding: 20px;
    margin: 20px 0;      
    width: 904px;       
    height: 279px;   
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.label-container {
    position: left;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 5px;
}

.project .label {
    width: 120px;
    height: 30px;
    display: inline-block; 
    padding: 2px 2px 2px 2px; 
    margin: 2px; 
    background-color: #f0e19f;
    color: #271168; 
    font-size: 12px; 
    border-radius: 1px;
    font-weight: bold;
    border: 2px solid #9b8400;

    
}

.project-text {
    width: 60%;
    padding-right: 20px;
}

.project-text h2, .project-text p, .project-text span {
    color: #271168;
    font-family: "DM Sans";
    font-size: 24px;
    line-height: 35px;
}

.project-text h2 {
    font-weight: 400;
}

.project-text p {
    font-weight: 700;
}

.project-image {
    width: 247px;
    height: 218px;
    border-radius: 14px;
    overflow: hidden; 
    flex-shrink: 0; 
    border-color: #271168;
    border-width: 2px;
    border-style: solid;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #271168;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 10px;
}

footer h3 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .content {
        padding: 10px;
    }

    .about-section {
        font-size: 18px;
        padding: 10px;
    }
}
