body, html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background: #F9F5F2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

header {
    width: 100%;
    height: 87px;
    background-color: #271168;
    display: flex;
    align-items: center;
    padding: 0 30px;  /* Adjust padding */
    box-sizing: border-box;
    position: relative;
}

header .logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;  /* Adjust size as needed */
}

header nav {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 100px);  /* Leave space for logo */
}

header nav a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-size: 24px;
}

.intro, .about, .view-projects-button {
    position:absolute;
    color: #271168;
}

.intro {
    left: 80px;
    top: 120px;
    width: 636px;
    font-size: 50px;
    line-height: 95px;
    font-weight: 700;
}

.intro-image {
    position: absolute;
    left: 80px;
    top: 483px;  /* Adjust based on actual image height */
    width: 600px; /* Adjust based on actual image width */
    height: auto;
}

.about {
    left: 900px;
    top: 270px;
    width: 396px;
    height: 203px;
    background: #F9F5F2;
    padding: 15px;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 35px;
    border-radius: 30px;
    border: 1px solid #271168;
}

.view-projects-button {
    left: 900px;
    top: 553px;
    width: 276px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #271168;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1f0e5a;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #271168;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 10px;
}

footer h3 {
    margin-bottom: 10px;
}