body, html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background: #F9F5F2;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    width: 1294px;
    height: 863px;
    margin: 0 auto;
}

.title, .description, .link, .button-box, .dot, .initial {
    position: absolute;
    color: #271168;
}

.title {
    left: 80px;
    top: 283px;
    width: 636px;
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
}

.description {
    left: 770px;
    top: 291px;
    width: 354px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}

.info-box, .large-circle, .small-circle, .header-bar, .button-box {
    position: absolute;
}

.info-box {
    left: 747px;
    top: 270px;
    width: 396px;
    height: 203px;
    border-radius: 30px;
    border: 1px solid #271168;
}

.large-circle {
    left: 120px;
    top: 613px;
    width: 459px;
    height: 459px;
    background: white;
    border-radius: 50%;
    border: 4px solid #271168;
}

.small-circle {
    width: 49px;
    height: 80px;
    top: 703px;
    background: #60459A;
    border-radius: 50%;
}

.small-circle.left { left: 349px; }
.small-circle.right { left: 418px; }

.header-bar {
    width: 100%;
    height: 107px;
    background: #271168;
}

.link {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    top: 36px;
}

.project { left: 771px; }
.about { left: 928px; }
.resume { left: 1075px; }

.button-box {
    left: 747px;
    top: 567px;
    width: 276px;
    height: 46px;
    background: #271168;
    border-radius: 15px;
    border: 1px solid #271168;
    color: white;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    left: 974px;
    top: 580px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
}

.initials {
    left: 44px;
    top: 0px;
    position: absolute;
}

.initial {
    position: absolute;
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 95px;
}

.initial.shifted { left: 17px; top: 14px; }
@media (max-width: 1400px) {
    .container {
        width: 100%;
        height: auto;
    }

    .title, .description {
        font-size: calc(16px + 1vw);
    }

    .project, .about, .resume {
        font-size: calc(16px + 0.5vw);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .description {
        width: 80%;
        left: 10%;
    }
}
